@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero_image img{
    width: 100%;
    height: 100%;
    
    position: inherit !important;
    
    

}
.Dropdown{
    height: 60px;
    
    
}
ul li ul.drop li{
    display: block;
    margin: 14px 0px;


}
ul li ul.drop{
    width: auto;
    position:absolute;
    background-color: white;
    border: #222;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #222;
    
    
}
ul li:hover ul.drop{
    display: block;
    width: 15%;
    font-size: large;
    
}
.details:hover{
    cursor: pointer;
    
}

.list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type:none;
    & li{
        margin: 25px;
    }
}
.penrem{
    width:20% ;
    display: flex;
    gap: 20px;
    margin: 10px;
    
    
}
.Pendant1{
    background-color: hwb(323 83% 12%);  
    height: 25px;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    
}
.Pendant1:hover{
    background-color: #ee83c2;
    color: white;

}
.remove_all{
    text-decoration: underline;
}
img{
    width: 100%;
    
    
}
.container {
   /* display: flex;
    justify-content:center;
    /*flex-flow: row wrap;/
    margin-top: -180px;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap:-20px;
      
}

.shorting{
    position: relative;
    left: 20px;
    font-size: 25px;
    margin: 20px;
    color: grey;
}
.rating {
    font-size: 18px;
    color:black;
    background-color: #f2f2f2;
    width: 25%;
    height: 35px;
    position: relative;
    bottom: 39px;
    border-radius: 0 22px;
    padding: 7px;
    & > span{
        color: gold;
    }
}
.heart-icon{
    font-size: 35px;
    color: #ff4f71;
    transition: color 0.3s ease;
    
    
    
}
.wishlist{
    position: relative;
    left:90%;
    bottom: 90%;
    width: 10%;
}



.cards{
    margin:20px;

    & .strike {
        font-size:1rem;
    }
}
.price{
    font-size: 2rem;
}
.product_name{
    color: grey;
    font-size: 23px;
    
    /*text-overflow: ellipsis;*/
}
.product_name:hover {text-decoration: underline;
cursor: pointer; }
.addtocart{
    background-image: linear-gradient(to right, #f2c2e1, rgb(247, 247, 240));
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    margin-top:10px ;
    
}
.addtocart:hover{
    background-image: linear-gradient(to right, #ee83c2, rgb(226, 96, 150));
    color:white;
    
}
/* -------------Collapsible----------------- */

.collapsible {
    /* margin-bottom: 10px; */
    padding-inline: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.collapsible-header {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible-content {
    padding: 15px;
    display: none;
    font-size: 14px;
    color: #555;
}

.arrow {
    transition: transform 0.3s ease;
}

.collapsible.active .arrow {
    transform: rotate(180deg);
}

.collapsible.active .collapsible-content {
    display: block;
}


