@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-heading-family: "Lato", Assistant, sans-serif;
    --font-heading-scale:0.9;
    --font-heading-weight: 400;
    --font-body-family: "Lato", "Avenir Next", sans-serif;
    --font-body-family: "Lato", "Avenir Next", sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-body-scale: 1.0;
    --button-Addto-cart:linear-gradient(111.32deg,#ffb9c7 12.41%,#ffe5ea 99.21%);
    
}

body{
    font-size: 1.5rem;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: calc(1 + 0.8 / var(--font-body-scale));
}

h2 {
    font-size: calc(var(--font-heading-scale)* 2rem);
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
}

strong {
    font-weight: 700;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    margin: 1rem 0;
}

img{
    width: 100%;
    height: 75%;
    
}
.container {
    display: flex;
    justify-content: center;

    
}
.cards{
    margin: 20px;
    
}

.Gift_Guide{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    
    
    
}
.GG{
    width: 100%;
    height: 450px;
    margin: 30px 20px;
    
}
.view_more{
    border-radius: .96rem;
    border-top-left-radius: 0.96rem;
    border-top-right-radius: 0.96rem;
    border-bottom-right-radius: 0.96rem;
    border-bottom-left-radius: 0.96rem;
    border: .4px solid #373737;
    box-shadow: 0 1.59948px 1.59948px 0 rgba(0, 0, 0, .15);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    
}

    


